/** {
  margin: 0;
  padding: 150;
  border: 1px dashed black;
}*/

.delicious-title {
  font-family: cursive;
  font-size: 20px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  top: 0px;
  display: inline;

}

.delicious-img {
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  display: inline;

}

.delicious-text {
  font-family: sans-serif;
  font-size: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 40px;

}

.choco-pizza-png {
  width: 95%;
  margin-top: 0px;
  margin-right: 20px;
  display: inline;
}

.print-icon {
  display: inline;
  float: right;
}

.choco-pizza-title {
  font-family: helvetica;
  text-align: left;
  margin-bottom: 0px;
  margin-top: 0px;
  border-top: 5px solid grey;
}

.choco-pizza-posted {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: sans-serif;
  font-size: 10px;

}

.header-div {
  display: inline;
  top: 0px;
}

/*.top-left-text {
display: inline;
margin: 0px;
top: 0px;
}*/

.top-right-images {
  float: right;
  margin: 0px;
  display: inline;
}



/*h3.pull-left {
  top: 0px;
  text-align: left;
  margin: 0px;
  display: inline;
}*/

/*.pull-left {
  display: inline
}*/

/*.pull-right {
  display: inline;
  float: right;
}
*/
/*div.pull-left {
  padding: 0px;
}*/

/*h3.pull-left {
  /*margin: 0px 100px 100px 0px;*/
  /*position: relative;*/
  /*bottom: 15px;*/
  /*display: inline;
  margin-left: 20px:
  top: 0px;
}
*/
/*img.pull-left {*/
  /*margin: 0px 100px 100px 0px;*/
  position: relative;
  display: inline;
}*/*/
